@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Scroll Bar ---------------------------------------------------------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb {
    background-color: #172B4D;
    border-radius: 40px;
}

/* ✅ Main Gradient ------------------------------------------------------------------------------------------------------------- */
.bg_gradient {
    background: linear-gradient(16deg, rgba(17, 164, 239, 1) 0%, rgba(17, 190, 239, 1) 31%);
}

.section_background_gradient {
    background: url("./../../public/Images/SectionBg.svg") no-repeat;
    background-size: cover;
}

.increase_letter_spacing{
    letter-spacing: 0.30px;
}



/* ✅ Menu Animations ---------------------------------------------------------------------------------------------------------------- */
.slide-in-right {
    -webkit-animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-out-right {
    -webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
}

@keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
}

/* ✅ Text Animations ---------------------------------------------------------------------------------------------------------------- */
.slide-in-right-4s {
    -webkit-animation: slide-in-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right-5s {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right-6s {
    -webkit-animation: slide-in-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right-7s {
    -webkit-animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-right-8s {
    -webkit-animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* ✅ Button Animation ------------------------------------------------------------------------------------------------------------------------- */
.button_animate{
    position: relative;
}
.button_animate:hover > span{
    position: absolute;

    height: 3px;
    background-color: white;
    left: 0px;
    bottom: 0px;
    width: 100%;

    transition: all;
    transition-duration: 0.4s;

}


/* .btn {
    text-decoration: none;
    position: relative;
    transition: all .30s;
}

.btn_in{
    position: relative;
    z-index: 2;
}

.btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    transition: all .35s;
    border-radius: 8px;
}

.btn:hover {
    color: #172B4D;
    /* font-weight: 500; 

}

.btn:hover:after {
    width: 100%;
} */


/* ✅ Button Animation ------------------------------------------------------------------------------------------------------------------------- */
.animate_button_main {
    border-color: white;

    background-image: linear-gradient(45deg, white 50%, transparent 50%);
    background-position  : 100%;
    background-size: 400%;
    
    transition: background 300ms linear;
}
.animate_button_main:hover{
    background-position: 0;
    color: #172B4D;
}

.animate_bottom_border {
    cursor: pointer;
    position: relative;
}

.animate_bottom_border:before {
    content: "";
    position: absolute;
    width: 0;
    background: white;
    left: 45%;
    height: 4px;
    bottom: 0;
    transition: all .5s;
}

.animate_bottom_border:hover:before {
    width: 100%;
    left: 0;
}